# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf

indent_size = 2
indent_style = space

insert_final_newline = true

# editorconfig-checker is set up to not enforce `max_line_length`. The
# enforcement is left to filetype specific linters as they are best suited. But,
# we are still setting `max_line_length` because many linters use it as part of
# their config.
max_line_length = 80

trim_trailing_whitespace = true

[*.{markdown,md}]
# Handled by markdownlint
indent_size = unset

[*.{yaml,yml}]
# This syncs up IntelliJ with yamllint
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false
